@import '../../assets/styles/Variables.scss';


.custom-menu {
    .custom-item {
        height: auto;    
        white-space: normal;
        width: 300px;
        word-wrap: break-word;
        border: 1px solid rgba(0,0,0, 0.1);
        cursor: auto;
        .close {
            cursor: pointer;
            width: $base-unit * 5;
        }
        .message {
            margin: 0;
            padding: $base-unit * 2;
            font-family: AvenirNext-Regular;
        }
    }
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden; 
}