@import '../../assets/styles/Variables.scss';
@import '../../assets/styles/Helper.scss';

.red{
color: white;
background-color: rgb(161, 23, 23);
}
.green{
    color: white;
    background-color: rgb(29, 161, 29);
}
.header{
    color: white;
    background-color: black;
}

