
@import '../../assets/styles/Variables.scss';
@import '../../assets/styles/Helper.scss';

.app-content {
    width: calc(100% - 220px);
    min-height: calc(100vh - #{$navbar-height});
    position: absolute;
    right: 0;
    top: 64px;
    bottom: 0;
    @media #{$mobile-query} {
        width: 100%;   
        min-height: calc(100vh - #{$navbar-height} - 50px);
        top: 114px;
    }
    @media #{$tablet-query} {
        min-height: calc(100vh - #{$navbar-height} - 50px);
        top: 114px;
        width: 100%;   
    }
}