@font-face {
	font-family: AvenirNext-Bold;
	src: url("../fonts/AvenirNext-Bold.ttf") format("truetype");
}

@font-face {
	font-family: AvenirNext-BoldItalic;
	src: url("../fonts/AvenirNext-BoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: AvenirNext-DemiBold;
	src: url("../fonts/AvenirNext-DemiBold.ttf") format("truetype");
}
@font-face {
	font-family: AvenirNext-DemiBoldItalic;
	src: url("../fonts/AvenirNext-DemiBoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: AvenirNext-Heavy;
	src: url("../fonts/AvenirNext-Heavy.ttf") format("truetype");
}
@font-face {
	font-family: AvenirNext-Italic;
	src: url("../fonts/AvenirNext-HeavyItalic.ttf") format("truetype");
}
@font-face {
	font-family: AvenirNext-Medium;
	src: url("../fonts/AvenirNext-Medium.ttf") format("truetype");
}
@font-face {
	font-family: AvenirNext-MediumItalic;
	src: url("../fonts/AvenirNext-MediumItalic.ttf") format("truetype");
}
@font-face {
	font-family: AvenirNext-Regular;
	src: url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
	font-family: AvenirNext-UltraLight;
	src: url("../fonts/AvenirNext-UltraLight.ttf") format("truetype");

}
@font-face {
	font-family: AvenirNext-UltraLightItalic;
	src: url("../fonts/AvenirNext-UltraLightItalic.ttf") format("truetype");
}